<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <a rel="me" href="https://indieweb.social/@obsolete29"></a>
  <!-- CSS -->
  {% set css %}  
	  {% include "style.css" %}
    {% include "prism.css" %}
  {% endset %}
  <style>  
	  {{ css | cssmin | safe }}
  </style>
  <!-- RSS feeds -->
  <link rel="alternate" href="{{ site.feedUrl }}" type="application/atom+xml" title="{{ site.title }}">
  <link rel="alternate" href="https://obsolete29.com/feed/reviews.xml" type="application/atom+xml" title="Michael Harley's Reviews">
   <!-- SEO -->
  <title>{{ title or site.title }}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta name="description" content="{{ desc or site.desc }}">
   <!-- Open Graph -->
  {% if '/posts' in page.url %}
    {% set ogtype = "article" %}
  {% else %}
    {% set ogtype = "website" %}
  {% endif %}
  <meta property="og:title" content="{{ title or site.title }}">
  <meta property="og:type" content="{{ ogtype }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@obsolete29">
  <meta name="twitter:creator" content="@obsolete29">
  <meta name="twitter:title" content="{{ title or site.title }}">
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  {{ content | safe }}
  <footer>
    <div class="container">
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
      <div class="footer-nav">
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/">Posts</a></li>
          <li><a href="/reviews/">Reviews</a></li>
          <li><a href="/feed/">RSS</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>