<header>
  <nav>
    <div class="container">
      <a class="site-title" href="/">Michael</a>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/now/">Now</a></li>
        <li><a href="/reviews/">Reviews</a></li>
        <li><a href="/uses/">Uses</a></li>
      </ul>
    </div>
  </nav>
</header>