---
layout: base.njk
---
{% include "page-header.html" %}
<main>
  <div class="container">
  <h1>{{ title }}</h1>
  {% if lastUpdated %}
  <span class="page-meta">Last Modified: <time datetime="{{ lastUpdated }}">{{ lastUpdated | dateformat }}</time>
  </span> 
  {% endif %}

  {{ content | safe }}
  </div>
</main>