:root {
  --sans-font: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --base-fontsize: 1.15em;
  --line-height: 1.6;
  --bg: #262626;
  --base-font-color: #D4D4D4;
  --base-font-highlight: #F6F6F6;
  --accent-color: #00a78e;
  --dark-highlight: #707680;
  --dark-background: #191919;
}

/* Global styles */

html {
  font-family: var(--sans-font);
}

body {
  background: var(--bg);
  color: var(--base-font-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding: 0;
  text-rendering: optimizeLegibility;
  word-break: break-word;
}

.container {
  max-width: 76ch;
  margin: 0 auto;
  padding: .5em;
}

a,
a:visited {
  color: var(--base-font-highlight);
  text-decoration-color: var(--accent-color);
}

a:focus, a:hover {
  color: inherit;
  text-decoration-color: inherit;
}

h1, h2, h3 {
  line-height: 1.1;
  color: var(--base-font-highlight);
}

h1 {
  font-size: 2.3rem;
  margin-bottom: .5rem;
}

h2, h3 {
  margin-top: 3rem;
}

blockquote, q {
  padding: 0 0 0 15px;
  border-left: 1px solid var(--accent-color);
  margin: 1.1em 0 1.1em 0;
  font-style: italic;
}

.bio {
  margin: 1em 0;
}

.bio img{
  border-radius: 8px;
  float: left;
  margin: 6px;
}

.date {
  display: block;
  color: var(--dark-highlight);
}

footer {
  background: var(--dark-background);
  flex-shrink: 0;
  font-size: .9em;
  padding: 2em 0;
}

footer .container, header .container {
  max-width: 886px;
}

main {
  flex: 1 0 auto;
}

/* Generic page styles */

header {
  background: var(--dark-background);
  padding: 1em 0;
}

nav .container, footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav ul, footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li, footer li {
  display: block;
  padding-right: 20px;
}

nav li:last-of-type, footer li:last-of-type {
  padding-right: 0;
}

.site-title {
  font-size: 1.1em;
  font-weight: 700;
}

.site-title::after {
  display: inline-block;
  vertical-align: baseline;
  content: "";
  width: .25em;
  height: .25em;
  margin: 0 0 0 .15em;
  background: var(--accent-color);
  border-radius: .0625rem;
}

/* Post page styles */

article h1 {
  margin-bottom: .2em;
  word-wrap: break-word;
}

.post-meta {
  font-size: 1em;
  color: var(--dark-highlight);
  line-height: 1.2;
}

.post-meta a {
  color: inherit;
}

.post-meta a:focus, .post-meta a:hover {
  color: var(--base-font-highlight);
  text-decoration-color: var(--accent-color);
  text-decoration-line: underline;
}

img {
  margin-bottom: 5px;
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 1em 0;
}

figcaption {
  font-size: 80%;
  line-height: 1.3;
  margin-top: 1rem;
}

.bio-container {
  background: var(--dark-background);
  border-radius: 8px;
  padding: 5px;
}

.article-tag-icon {
  vertical-align: middle;
}

:not(pre) > code {
  font: var(--sans-font);
  background: black;
  padding: 0 5px;
  border: solid 1px var(--dark-highlight)
}

.stars {
  padding-left: 9px;
  color: var(--accent-color);
}

.page-meta {
  font-style: italic;
}