---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - page
    - pages
    - post
    - posts
    - tagList
addAllPagesToCollections: true
permalink: /topics/{{ tag | slug }}/
layout: page.njk
eleventyComputed:
  title: "Posts tagged as #{{ tag }}"
---
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
<p><span class="date">{{ post.data.date | dateformat }}</span><a href={{ post.url }}>{{ post.data.title }}</a></p>
{% endfor %}