---json
{
  "permalink": "/feed/reviews.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Michael Harley's Reviews</title>
  <subtitle>My log of books, tv shows and movies.</subtitle>
  <link href="https://obsolete29.com/feed/reviews.xml" rel="self"/>
  <link href="https://obsolete29.com/reviews/"/>
  <updated>{{ collections.reviews | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>https://obsolete29.com/reviews//</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {%- for post in collections.reviews | reverse %}
  	{%- if loop.index0 < 10 -%}
      {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
      {%- set emailReplyHTML -%}<p><a href="mailto:{{ site.author.email }}?subject=Re: “{{ post.data.title }}”">Reply via email</a></p>{%- endset -%}
      {%- set finalHTMLContent = [post.templateContent, emailReplyHTML] | join -%}
        <entry>
          <title>{{ post.data.title }}</title>
          <link href="{{ absolutePostUrl }}"/>
          <updated>{{ post.date | dateToRfc3339 }}</updated>
          <id>{{ absolutePostUrl }}</id>
          <content type="html">
          {{ finalHTMLContent | htmlToAbsoluteUrls(absolutePostUrl) }}
          </content>
        </entry>
    {%- endif -%}
  {%- endfor %}
</feed>