---
layout: page.njk
---
<p class="bio">Hi, I'm Mike. Welcome to my minimalist space on the world wide web. There are many like it but this one is mine.</p>
<p>The best way to contact me is by sending an email: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
<section>
  <h2>Latest posts</h2>
  {% for post in collections.posts | reverse %}
  <p><time class="date" datetime="{{ post.data.date }}">{{ post.data.date | dateformat }}</time><a href={{ post.url }}>{{ post.data.title }}</a></p>
  {% endfor %}
  <p><a href="/posts/">All posts →</a></p>
</section>

